In [68]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv("lemniscate_41.txt")

In [72]:
df.head()

   timestamp       tx       ty       tz      vx      vy      vz
0        0.0  0.08312  0.46529 -0.56110     NaN     NaN     NaN
1        0.1  0.10778  0.49733 -0.52509  0.2466  0.3204  0.3601
2        0.2  0.14227  0.51815 -0.47645  0.3449  0.2082  0.4864
3        0.3  0.15770  0.52431 -0.42075  0.1543  0.0616  0.5570
4        0.4  0.18045  0.52961 -0.36707  0.2275  0.0530  0.5368

In [22]:
df['dt'] = df['timestamp'].diff()
df['dt'] = df['dt'].replace(0, np.nan)

In [24]:
df.head()

   timestamp       tx       ty       tz   dt
0        0.0  0.08312  0.46529 -0.56110  NaN
1        0.1  0.10778  0.49733 -0.52509  0.1
2        0.2  0.14227  0.51815 -0.47645  0.1
3        0.3  0.15770  0.52431 -0.42075  0.1
4        0.4  0.18045  0.52961 -0.36707  0.1

In [28]:
df['vx'] = df['tx'].diff() / df['dt']
df['vy'] = df['ty'].diff() / df['dt']
df['vz'] = df['tz'].diff() / df['dt']

df.head()

   timestamp       tx       ty       tz   dt      vx      vy      vz
0        0.0  0.08312  0.46529 -0.56110  NaN     NaN     NaN     NaN
1        0.1  0.10778  0.49733 -0.52509  0.1  0.2466  0.3204  0.3601
2        0.2  0.14227  0.51815 -0.47645  0.1  0.3449  0.2082  0.4864
3        0.3  0.15770  0.52431 -0.42075  0.1  0.1543  0.0616  0.5570
4        0.4  0.18045  0.52961 -0.36707  0.1  0.2275  0.0530  0.5368

In [34]:
df['speed'] = np.sqrt(df['vx']**2 + df['vy']**2 + df['vz']**2)

# Show velocity results
df[['timestamp', 'tx', 'ty', 'tz', 'vx', 'vy', 'vz']].head()

   timestamp       tx       ty       tz      vx      vy      vz
0        0.0  0.08312  0.46529 -0.56110     NaN     NaN     NaN
1        0.1  0.10778  0.49733 -0.52509  0.2466  0.3204  0.3601
2        0.2  0.14227  0.51815 -0.47645  0.3449  0.2082  0.4864
3        0.3  0.15770  0.52431 -0.42075  0.1543  0.0616  0.5570
4        0.4  0.18045  0.52961 -0.36707  0.2275  0.0530  0.5368

In [38]:
df[['timestamp', 'tx', 'ty', 'tz', 'vx', 'vy', 'vz']].to_csv("trajectory_with_velocity.csv", index=False)

In [86]:
import os

# right now all of the files are in the same directory as this file, so we can use the "."
# however if we are parsing through different directories we can just change it to be in the one that we want
path = '.'

files_content = []

for filename in filter(lambda p: p.endswith("txt"), os.listdir(path)):
    # for fun
    # print(filename)
    df = pd.read_csv(filename)
    
    # for now only use the position and timestamps for the velocity
    df = df[['timestamp', 'tx', 'ty', 'tz']]

    # get the difference in time stamps
    df['dt'] = df['timestamp'].diff()
    # make sure that ther are no division by zero for the velocity calculation
    df['dt'] = df['dt'].replace(0, np.nan)

    # calculte the velocity vectors for the three different directions
    df['vx'] = df['tx'].diff() / df['dt']
    df['vy'] = df['ty'].diff() / df['dt']
    df['vz'] = df['tz'].diff() / df['dt']

    # get rid of the .txt for the file name
    filename = filename[0:-4]
    # print(filename)
    # adding the .csv? idk if it is truly necessary
    csvName = filename + ".csv"
    # drop dt and then output to a csv file with the same name as the txt file
    df.drop('dt', axis=1).to_csv(csvName, index=False)

circle_31.txt
circle_31
indoor_forward_10_davis_with_gt.txt
indoor_forward_10_davis_with_gt
lemniscate_41.txt
lemniscate_41